[Unit]
Description=DPI Configuration Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/homethosh/hometosh
ExecStart=/usr/bin/python3 /home/homethosh/hometosh/dpi_server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
